<div class="logo">
        <img src="assets/img/signature.svg" alt="logo">
    </div>
    <ul class="nav-list">
        <a href="" class="one">Sobre mi</a>
        <a (click)="this.toastr.success('Ya te encontras en esta app')" >Crud</a>
        <a href="https://github.com/gonzalobenini/api" target="_blank">Api</a>
        <a (click)="this.toastr.warning('Actualmente no cuento con hosting')" >Livechat</a>
        <a href="https://gonzalobenini.github.io/Portfolio/" target="_blank">Todo list</a>
        <a (click)="this.toastr.warning('Informacion privada', 'Para saber mas de mis proyectos que llegaron al mercado laboral, por favor contactese.')" >E-commerce</a>
        <a href="https://gonzalobenini.github.io/Portfolio/" target="_blank">Chrome extension</a>
        <a href="https://www.linkedin.com/in/gonzalo-benini-6684a9228/" target="_blank">linkdin</a>
        <a href="https://github.com/gonzalobenini" target="_blank">github</a>
        <div class="hover"></div>
    </ul>